# THE VOICE LUNDA-SUL - Firebase Firestore Configurações
VITE_FIREBASE_API_KEY=AIzaSyBAxa6oSVXNpJ5eUEmlDTs-M0rfTFmObK8
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0153019112.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0153019112
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0153019112.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=488988122072
VITE_FIREBASE_APP_ID=1:488988122072:web:0f36a172ba43d9f16fb0ad
